<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanjustar.mapper.mapper.security.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nanjustar.api.moudle.security.entity.Role">
        <id column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="role_key" property="roleKey" />
        <result column="role_num" property="roleNum" />
        <result column="is_disable" property="isDisable" />
        <result column="del_flag" property="delFlag" />
        <result column="create_by" property="createBy" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="update_by" property="updateBy" />
        <result column="gmt_update" property="gmtUpdate" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, role_name, role_key, role_num, is_disable, del_flag, create_by, gmt_create, update_by, gmt_update, remark
    </sql>

</mapper>
